body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
	background: url("../Images/wallpaper.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: sans-serif;
}

header{
    position: fixed;
    z-index:200;
    background: #f6b70a;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

header section{
	display: flex;
	width: 15%;
	justify-content: space-between;
}

.line{
	width: 3px;
	height: 90%;
	background-color: black;
}

header nav {
	width: 70%;
	margin-right: 10%;
}

header nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

header nav ul li a {
	display: flex;
	justify-content: center;
	width: 150%;
	line-height: 60px;
	color: white;
	font-size: 16px;
}

header nav ul a:hover {
	background: #FF6633;
}

header a, footer a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: white;
}

main a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: black;
}

main .Content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
    width: 80%;
    margin: 70px auto -50px; 
    background: white;
    padding: 10px;
	opacity: 0.95;
}

main .banner {
	display: block;
	height: 600px;
	position: relative;
}

main .banner #b_pic li {
	margin-left: -40px;
	height: 600px;
	width: 100%;
	/*width: 0;*/
	position: absolute;
	top: 0;
	display: none;

}
main .banner #b_pic li img {
	width: 100%;
	height:600px;
	display: block;
}
main .banner #b_an {
	position: absolute;
	width: 100%;
	bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin-left: -40px;
}

main .banner #b_an li {
	width: 13px;
	height: 13px; 
	border-radius:13px;
	background: white;
	margin: 0 3px;
}

main nav {
	background: #f6b70a;
	width: 100%;
}

main nav ul {
	display: flex;
	margin: auto auto auto -40px;
	list-style-type: none;	
}

main nav ul li a {
	display: flex;
	justify-content: center;
	width: 133px;
	font-size: 16px;
	line-height: 60px; 
	color: #fff; 
}

main nav ul li a:hover { 
	background:#FF6633
}

.GamePres {
	padding-top: 30px;
}

.GamePres img {
	float: left;
	width: 25%;
	border: 1px solid #ccc;
	padding: 15px;
	margin-right: 20px;
}

.GamePres p {
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.title {
	color: #950304;
	line-height: 40px;
	border-bottom: 1px solid #950304;
	margin-top: 30px;
}

.roles_box {
	display: flex;
	list-style-type: none;
}

.roles_box li {
	width: 33.333%;
	text-align: center;
}
.roles_box li a{ 
	display:inline-block; 
	padding:5px 10px; 
	margin-top:10px;
}
.roles_box li p {
	font-size: 16px;
	color: #333;
	border: 1px solid #ccc;
	line-height: 30px;
	width: 80%;
	margin: 0 auto;
	background: #fff;
	position: relative;
}
.roles_box li img {
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.roles_box li img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.Perso {
	border-bottom: 1px solid #ccc;
	padding: 30px 0;
}
.Perso img {
	float: left;
	width: 250px;
	border: 1px solid #ccc;
	padding: 15px;
	margin-right: 20px;
}
.Perso p {
	font-size: 14px;
	line-height: 20px;
}

.trame p {
	font-size: 14px;
    line-height: 20px;
}

.button {
	background: #f6b70a;
	border: none;
	padding: 6px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

.BackToTop{
	display: none;
	background-color: #f6b70a;
	color: white;
	padding: 15px;
	border-radius: 10px; 
	font-size: 18px;
	bottom: 30px; 
	z-index: 99; 
	position: fixed;
	position: sticky;
	margin: 0 30px 30px auto;
	width: 30px;
}

.video video {
	width: 100%;
	border: none;
}

.photos ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 15px -30px;
}

.photos ul li {
	width: 30%;
	padding: 15px 15px;
}


.photos li .box {
	width: 100%;
	height: 210px;
	overflow: hidden;
}
.photos li .box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.photos li .box img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);  /*兼容-webkit-引擎浏览器*/
	-moz-transform: scale(1.1);
}

.critiques {
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
}

.critiques div {
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
}

.critiques .pseudo {
	margin: 0;
}


.critiques img {
	width: 80px;
	border: 5px solid #ccc;
	padding: 5px;
	top: 0;
}

.critiques p {
	font-size: 20px;
	line-height: 20px;
	color: #333;
	margin-top: 50px;
}

footer {
	text-align: center;
    width: 100%;
    height: 100%;
    background-color: #f6b70a;
    color: white;
}
