body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
	background: url("Images/wallpaper.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: sans-serif;
}

header{
    position: fixed;
    z-index:200;
    background: #f6b70a;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

header section{
	display: flex;
	width: 15%;
	justify-content: space-between;
}

.line{
	width: 3px;
	height: 90%;
	background-color: black;
}

header nav {
	width: 70%;
	margin-right: 10%;
}

header nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

header nav ul li a {
	display: flex;
	justify-content: center;
	width: 150%;
	line-height: 60px;
	color: white;
	font-size: 16px;
}

header nav ul a:hover {
	background: #FF6633;
}

header a, footer a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: white;
}

main a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: black;
}

main .Content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
    width: 80%;
    margin: 90px auto -50px; 
    background: white;
    padding: 10px;
	opacity: 0.95;
}

main .banner {
	display: block;
	height: 600px;
	position: relative;
}

main .banner #b_pic li {
	margin-left: -40px;
	height: 600px;
	width: 100%;
	position: absolute;
	top: 0;
	display: none;

}
main .banner #b_pic li img {
	width: 100%;
	height:600px;
	display: block;
}
main .banner #b_an {
	position: absolute;
	width: 100%;
	bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin-left: -40px;
}

main .banner #b_an li {
	width: 13px;
	height: 13px; 
	border-radius:13px;
	background: white;
	margin: 0 3px;
}

main nav {
	background: #f6b70a;
	width: 100%;
}

main nav ul {
	display: flex;
	margin: auto auto auto -40px;
	list-style-type: none;	
}

main nav ul li a {
	display: flex;
	justify-content: center;
	width: 133px;
	font-size: 16px;
	line-height: 60px; 
	color: #fff; 
}

main nav ul li a:hover { 
	background:#FF6633
}

.title {
	color: #950304;
	line-height: 40px;
	border-bottom: 1px solid #950304;
	margin-top: 30px;
}

.BackToTop{
	display: none;
	background-color: #f6b70a;
	color: white;
	padding: 15px;
	border-radius: 10px; 
	font-size: 18px;
	bottom: 30px; 
	z-index: 99; 
	position: fixed;
	position: sticky;
	margin: 0 30px 30px auto;
	width: 30px;
}

footer {
	text-align: center;
    width: 100%;
    height: 100%;
    background-color: #f6b70a;
    color: white;
}